
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

.headTitleContainer{
    font-family: 'Caveat', cursive;
    margin: 1vh 0;
    text-align: center;
    font-size: 6vh;
    letter-spacing: 5px;
    Color: white;
    
    
}