@import "../../style_basics/colors";

.outerContainer{
background-color: $solid-white;
   width: 80vw; 

}
.cardWrapper{
    padding: 2rem .5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardContainerPlaceholder{
    margin: 1rem 0;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    
}