@import "../../style_basics/colors";

.cardOuter {
  
  background-color: $najavo;
  box-shadow: 2px 2px rgba($color: #000000, $alpha: .3);
  width: 20vw;
  min-width: 200px;
  padding: 1rem 0.2rem;
  border-radius: .5rem;


  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
  align-items: center;
}


.cardTitle{
  font-weight: bolder;
  font-size: large;
  width: 80%;
  text-align: center;
}

.cardPicContainer{
  margin: 1rem 0;
  overflow: hidden;
}
.cardPosterPic {
  width: 150px;
  height: 210px;
  object-fit: cover;
}

.movieYear{
  height: 1.2rem;
}
.favoriteButton{
  padding: .5rem;
  border-radius: .3rem;
  background-color: $dilligent-red1;
  cursor: pointer;
  transition:  .2s;
  color: black;
  &:hover{
    color: rgb(100, 1, 1);
    transform: translate(2px, 2px)
  }
}