.cardOuter {
  background-color: darkred;
  width: 20vw;
  min-width: 200px;
  padding: 1rem 0.2rem;

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}

.cardPosterPic {
  width: 150px;
  margin: .5rem 0 0 ;
}
