$dilligent-red1: #f03834;
$dilligent-red2: #b82e34;
$dilligent-red3: #d82630;
$dilligent-red4: #9d1c20;

$complementer-blue: #191D32;
$rich-black: #0E131F;
$solid-white: #F6F4F3;
$silk:#68596b;
$najavo: #F7DBA7;
$carolina-blue: #4EA5D9;