@import "../../style_basics/colors";

.sideBarContainer{  
    width: 20vw;
    padding: 2vh 0 0 ;
    background-color: $dilligent-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
 
}

.sideHeader{
    margin: 1rem 0 0 ;
    font-size: 150%;
}